body {
    background: #1e1e1e; /*background color */
    color: #ffffff; /* text */
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;  /* text */
  }
  
  .bg-steel {
    background-color: #000000;  /* Header color */
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db; /* Home about login register text*/
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;  /* Not sure */
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #000000; 
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #ffffff;
  }
  
  a.article-title:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ffffff
  }
  
  .article-metadata a:hover {
    color: #e0e0e0;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .writer{
    color: #e0e0e0;
  }

  /* For the dropdown list */
  .select{
    /* padding: 8px 12px; */
    color:#ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .select a:hover {
    color: #aeaeae;
    text-decoration: none;
  }

  .to_other_page{
    color: #f4f4f4
  }

  .signup_login{
    color:#ffffff;
    background-color: #1e1e1e;
    border-color: #ffffff;
  }

  .dropdown-section {
    background: #000000; 
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }


  /* .about .dropdown-section select,
  .login .dropdown-section select, */
  .body[data-page='register'] .dropdown-section select,
  .body[data-page='about'] .dropdown-section select {
      display: none;
  }

  /* Style the select dropdown */
.select-fav {
  color: #cbd5db; /* Favorites*/
  padding-right: 10px;
  background: #000000; 
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/* Style the options in the dropdown */
.select-fav option {
  background: #000000;
  color: #cbd5db;
  border: none;
}

/* Style the hover effect */
.select-fav:hover {
  color: #ffffff;
}

/* Style the selected option */
.select-fav option:checked {
  background-color: #222222;
  color: #ffffff;
}

/* Style the dropdown when it is open */
.select-fav:active, .select-fav:focus {
  outline: none;
  box-shadow: none;
}

/* Style the dropdown when it is active */
.select-fav:active {
  background-color: #222222;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Favorites */
.add_fav {
  margin-left: auto;
}

.add_to_favorites{
  color:#ffffff;
  background-color: #1e1e1e;
  border-color: #ffffff;
}