{% extends "layout.html" %}

{% block content %}
    <h1>Breaking News</h1>
    {% for news in news%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="writer" href="#">{{ news.writer }}</a>
              <small class="text-muted">{{ news.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ news.article }}</a></h2>
            <p class="article-content">{{ news.publisher }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

{% block dropdown %}
<div class="col-md-4">
  <div class="dropdown-section {% if hide_dropdown %}hidden{% endif %}">
    Select Stock Symbol:
    <select class="select" id="company-select" onchange="location = this.value;">
        <option value="" selected hidden>Select Here</option>
        {% for company in companies %}
        <option value="/{{ company }}">{{ company }}</option>
        {% endfor %}
    </select>
</div>
{% endblock dropdown %}
