{% extends "layout.html" %}

{% block content %}
    <h1>Breaking News</h1>
    {% for news in news%}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ news.writer }}</a>
              <small class="text-muted">{{ news.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ news.article }}</a></h2>
            <p class="article-content">{{ news.publisher }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
