{% extends "layout.html" %}

{% block dropdown %}
<div class="col-md-4">
    <div class="container">
        <form action="{{ url_for('task_list_blueprint.logout') }}" method="POST">
            <button type="submit">Sign Out</button>
        </form>
    </div>
</div>
{% endblock dropdown %}

{% block content %}
    <div class="content-section">
        <div class="article-metadata">
            <h1>
                Welcome, {{name}}
            </h1>
                <p> Manage your info and security to make Invest Insights work better for you. </p>
            </div>
        <div>
            <h3>Email: {{ email }}</h3>
            <h3>Favorite Companies Include:</h3>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="to_other_page" href="{{ url_for('task_list_blueprint.manage_profile') }}">Manage Account?</a>
            </small>
        </div>
    </div>
{% endblock content %}

