{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="article-metadata">
            <h1>
                Welcome, {{name}}
            </h1>
                <p> Manage your info and security to make Invest Insights work better for you. </p>
            </div>
        <div>
            <h3>Email: {{ email }}</h3>
            <h3>Favorite Companies Include:</h3>
        </div>
        <form action="/manage-profile" method="post">
            <div class="container">
                <button type="submit">Manage account?</button>
            </div>
        </form>
    
    </div>

    

{% endblock content %}
